	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span>M</span>ontreal Soft <span>Inc</span></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Acceuil</a></li>
                        <li class="dropdown">
                            <a href="/services" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Nos Services <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/services/soutien">Soutien Technique</a></li>
                                <li><a href="/services/developpement">Developpement d'applications</a></li>
								<li><a href="/services/maintenance">Maintenance</a></li>
                                <li><a href="/services/reseau">Installation Reseau</a></li>
                                <li><a href="/services/telephonie">Telephonie</a></li>
                                <li><a href="/services/achat">Achats de Materiels Informatique</a></li>
                            </ul>
                        </li>
                        <li><a href="/about">A Propos</a></li>
                        <li><a href="/outils">Outils</a></li>
                        <li><a href="/contact">Nous Contactez</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header>